@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Encode Sans", sans-serif;
}

header {
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 171px;
}

nav {
  border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7;
}

ul {
  width: 1250px;
  height: 44px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.mobile {
  display: none;
}

li a {
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}

a {
  transition: all 300ms;
}

a:hover {
  opacity: 0.6;
}

li:nth-child(1) a {
  color: #c3170c;
}

li:nth-child(2) a {
  color: #1e4b9b;
}

li:nth-child(3) a {
  color: #006766;
}

li:nth-child(4) a {
  color: #07aa47;
}

li:nth-child(5) a {
  color: #e3662b;
}

li:nth-child(6) a {
  color: #fb0735;
}

li:nth-child(7) a {
  color: #ff75bb;
}

li:nth-child(8) a {
  color: #ec7d00;
}

li:nth-child(9) a {
  color: #323333;
}

li:nth-child(10) a {
  color: #a81d83;
}

main {
  width: 1250px;
  margin: 34px auto 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.g1 {
  width: 666px;
}

h1 {
  color: #c4160c;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
}

.hero p {
  color: #303134;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.hero p:first-of-type {
  margin: 29px 0 7px;
}

.news {
  display: flex;
  justify-content: space-between;
  margin: 25px 36px 25px 0;
}

.border {
  padding: 25px 0;
  border-top: 1px solid #ebedef;
  border-bottom: 1px solid #ebedef;
}

.news article {
  width: 193px;
}

.news img,
.ge img,
.gshow img {
  border-radius: 12px;
  margin-bottom: 11px;
}

h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.news h2 {
  color: #c4170c;
}

h3 {
  color: #2f3134;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;
  margin: 6px 0 5px;
}

.news p,
.ge p,
.gshow p {
  color: #2f3134;
  font-size: 14px;
  line-height: 19px;
}

.ge {
  width: 310px;
  border-left: 1px solid #ebedef;
  border-right: 1px solid #ebedef;
}

.ge article,
.gshow article {
  width: 240px;
}

.ge article {
  margin: 0 auto;
}

.ge article:nth-child(2) {
  margin: 40px auto;
}

.ge h2 {
  color: #16ae54;
}

.gshow {
  width: 275px;
}

.gshow article {
  margin-left: auto;
}

.gshow article:nth-child(2) {
  margin: 45px 0 45px auto;
}
